[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
alembic = "*"
aniso8601 = "*"
api = "*"
apscheduler = "*"
astroid = "*"
attrs = "*"
bcrypt = "*"
blinker = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
distlib = "*"
dnspython = "*"
email-validator = "*"
filelock = "*"
flask-admin = "*"
flask-apscheduler = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-restful = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
greenlet = "*"
gunicorn = "*"
idna = "*"
install = "*"
isort = "*"
itsdangerous = "*"
jinja2 = "*"
lazy-object-proxy = "*"
jsonschema = "*"
mako = "*"
markupsafe = "*"
mccabe = "*"
mysql-connector = "*"
mysql-connector-python = "*"
nose = "*"
pipenv = "*"
platformdirs = "*"
protobuf = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pyjwt = "*"
pypi = "*"
pyrsistent = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
pytz-deprecation-shim = "*"
six = "*"
sqlalchemy = "*"
to = "*"
toml = "*"
tzdata = "*"
tzlocal = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
werkzeug = "*"
wrapt = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.10"
